.acoes {
  display: flex;
  justify-content: center;
}

.botao {
  margin: 5px;
  margin-top: 5px;
  width: 200px;
}

.botao__desabilitado {
  margin: 5px;
  margin-top: 5px;
  width: 200px;
}

.editar-municipios {
  padding: 2rem 0;
}

.editar-municipios form {
  background: #fef7ff;
  border: 2px solid #a57dff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.editar-municipios form label {
  color: #154580;
  font-weight: bold;
  margin: 0 0 1rem;
}

.editar-municipios form .campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.editar-municipios form .campo label {
  margin-bottom: 0.5rem;
}

.editar-municipios form .campo-linha {
  display: flex;
}

.editar-municipios form .campo .input,
.editar-municipios form .campo select {
  border: 2px solid #a57dff;
  height: 40px;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  flex: 1;
  /* Ajustado para flex: 1 */
  margin: 0.5rem 4;
  margin-right: 40px;
}

.editar-municipios form .campo-linha {
  display: flex;
}

.editar-municipios form .campo {
  flex: 1;
}

.editar-municipios form .campo-nome {
  flex-basis: 60%;
}

.editar-municipios form .campo-codigoUF,
.editar-municipios form .campo-status {
  flex-basis: 20%;
  margin-left: 5px;
}

.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-bottom: 20px;
}
