<section class="container editar-municipios ff-inter">
  <form>
    <header class="header">
      <h2>Cadastro de Município</h2>
    </header>

    <div class="campo-linha">
      <div class="campo campo-nome">
        <label for="nome">Nome</label>
        <input type="textarea" class="input" id="nome" name="nome" placeholder="Digite o nome"
          [(ngModel)]="municipio.nome">
      </div>

      <div class="campo campo-codigoUF">
        <label for="codigoUF">Código UF</label>
        <select class="input" id="codigoUF" name="codigoUF" [(ngModel)]="municipio.codigoUF">
          <option *ngFor="let uf of listaUfs" [value]="uf.codigoUF">{{uf.codigoUF}} - {{uf.nome}}</option>
        </select>
      </div>

      <div class="campo campo-status">
        <label for="status">Status</label>
        <select class="input" id="status" name="status" [(ngModel)]="municipio.status">
          <option value="1">Ativo</option>
          <option value="2">Inativo</option>
        </select>
      </div>
    </div>

    <div class="acoes">
      <button (click)="editarMunicipio()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
