.modal {
  border: 1px solid #a57dff;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  width: 108%;
  max-width: 800px;
  z-index: 9999;
  padding: 20px;
}

.endereco .campo {
  flex: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 10px;
  flex-basis: calc(33.33% - 10px);
}

form .campo label {
  color: #154580;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form .campo .input,
form .campo select {
  border: 2px solid #a57dff;
  height: 40px;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  flex: 1;
}

.campo-linha-endereco {
  display: flex;
}

.botao-endereco {
  margin: 5px;
  margin-top: 5px;
  width: 200px;
}

.endereco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-bottom: 20px;
}
