<section class="endereco modal ff-inter">
  <form [formGroup]="formulario" *ngIf="formulario">
    <header class="header">
      <h2 mat-dialog-title>Endereços</h2>
    </header>

    <div class="endereco-container" mat-dialog-content>
      <div>
        <div class="campo-linha-endereco">
          <div class="campo campo-bairro">
            <label for="bairro">Bairro</label>
            <select class="input" id="bairro" formControlName="codigoBairro">
              <option
                *ngFor="let bairro of bairros"
                [value]="bairro.codigoBairro"
              >
                {{ bairro.codigoBairro }} - {{ bairro.nome }}
              </option>
            </select>
          </div>

          <div class="campo campo-nomeRua">
            <label for="nomeRua">Nome da Rua</label>
            <input
              required
              type="text"
              class="input"
              id="nomeRua"
              formControlName="nomeRua"
              placeholder="Nome da Rua"
            />
          </div>
        </div>

        <div
          class="mensagem__erro campo-linha-endereco"
          *ngIf="
            !formulario.valid &&
            (formulario.get('codigoBairro')?.touched ||
              formulario.get('nomeRua')?.touched)
          "
        >
          <div class="campo campo-bairro">
            <div
              *ngIf="
                formulario.get('codigoBairro')?.hasError('required') &&
                formulario.get('codigoBairro')?.touched
              "
            >
              O campo Bairro é obrigatório!
            </div>
          </div>
          <div class="campo campo-nomeRua">
            <div
              *ngIf="
                formulario.get('nomeRua')?.hasError('required') &&
                formulario.get('nomeRua')?.touched
              "
            >
              O nome da rua é obrigatório!
            </div>
            <div
              *ngIf="
                formulario.get('nomeRua')?.hasError('minlength') &&
                formulario.get('nomeRua')?.touched
              "
            >
              O nome da rua deve conter no mínimo 3 caracteres!
            </div>
            <div
              *ngIf="
                formulario.get('nomeRua')?.hasError('maxlength') &&
                formulario.get('nomeRua')?.touched
              "
            >
              O nome da rua deve conter no máximo 60 caracteres!
            </div>
            <div
              *ngIf="
                formulario.get('nomeRua')?.hasError('pattern') &&
                formulario.get('nomeRua')?.touched
              "
            >
              O nome da rua não deve ser apenas espaços em branco!
            </div>
          </div>
        </div>

        <div class="campo-linha-endereco">
          <div class="campo campo-numero">
            <label for="numero">Número</label>
            <input
              type="text"
              class="input"
              id="numero"
              formControlName="numero"
              placeholder="Número"
            />
          </div>
          <div class="campo campo-complemento">
            <label for="complemento">Complemento</label>
            <input
              type="text"
              class="input"
              id="complemento"
              formControlName="complemento"
              placeholder="Complemento"
            />
          </div>

          <div class="campo campo-cep">
            <label for="cep">CEP</label>
            <input
              type="text"
              class="input"
              id="cep"
              formControlName="cep"
              placeholder="CEP"
            />
          </div>
        </div>
      </div>

      <div class="modal-actions">
        <button
          [disabled]="!formulario.valid"
          (click)="adicionarEndereco()"
          class="endereco botao"
          mat-dialog-close
          mat-flat-button
        >
          Adicionar Endereço
        </button>
      </div>
    </div>
  </form>
</section>
<div class="overlay"></div>
