<section class="container criar-ufs ff-inter">
  <form>
    <header class="header">
      <h2>Cadastro de Unidade Federativa</h2>
    </header>

    <div class="campo-linha">
      <div class="campo campo-nome">
        <label for="nome">Nome</label>
        <input type="textarea" class="input" id="nome" name="nome" placeholder="Digite o nome" [(ngModel)]="uf.nome">
      </div>

      <div class="campo campo-sigla">
        <label for="sigla">Sigla</label>
        <select class="input" id="sigla" name="sigla" [(ngModel)]="uf.sigla">
          <option *ngFor="let sigla of siglas" [value]="sigla.sigla">{{sigla.sigla}} - {{sigla.nome}}</option>
        </select>
      </div>

      <div class="campo campo-status">
        <label for="status">Status</label>
        <select class="input" id="status" name="status" [(ngModel)]="uf.status">
          <option value="1">Ativo</option>
          <option value="2">Inativo</option>
        </select>
      </div>
    </div>

    <div class="acoes">
      <button (click)="criarUf()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
