.acoes {
  display: flex;
  justify-content: center;
}

.botao {
  margin: 5px;
}

.editar-ufs {
  padding: 2rem 0;
}

.editar-ufs form {
  background: #C4EDFF;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.editar-ufs form label {
  color: #154580;
  font-weight: bold;
  margin: 0 0 1rem;
}

.editar-ufs form .campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.editar-ufs form .campo label {
  margin-bottom: 0.5rem;
}

.editar-ufs form .campo .input,
.editar-ufs form .campo select {
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0;
}

.editar-ufs form .campo .input {
  flex: 1;
}

.editar-ufs form .campo select {
  flex: 2;
}
