<section class="container criar-bairros ff-inter">
  <form [formGroup]="formulario" *ngIf="formulario">
    <header class="header">
      <h2>Cadastro de Bairro</h2>
    </header>

    <div class="campo-linha">
      <div class="campo campo-nome">
        <label for="nome">Nome</label>
        <input
          type="textarea"
          class="input"
          id="nome"
          formControlName="nome"
          placeholder="Digite o nome"
        />
      </div>

      <div class="campo campo-codigoMunicipio">
        <label for="codigoMunicipio">Município</label>
        <select
          class="input"
          id="codigoMunicipio"
          formControlName="codigoMunicipio"
        >
          <option
            *ngFor="let municipio of listaMunicipios"
            [value]="municipio.codigoMunicipio"
          >
            {{ municipio.codigoMunicipio }} - {{ municipio.nome }}
          </option>
        </select>
      </div>

      <div class="campo campo-status">
        <label for="status">Status</label>
        <select class="input" id="status" formControlName="status">
          <option value="1">Ativo</option>
          <option value="2">Inativo</option>
        </select>
      </div>
    </div>

    <div
      class="mensagem__erro campo-linha"
      *ngIf="
        !formulario.valid &&
        (formulario.get('nome')?.touched ||
          formulario.get('codigoMunicipio')?.touched ||
          formulario.get('status')?.touched)
      "
    >
      <div class="campo campo-nome">
        <div
          *ngIf="
            formulario.get('nome')?.hasError('required') &&
            formulario.get('nome')?.touched
          "
        >
          O campo nome é obrigatório!
        </div>
        <div
          *ngIf="
            formulario.get('nome')?.hasError('minlength') &&
            formulario.get('nome')?.touched
          "
        >
          O campo nome deve conter no mínimo 3 caracteres!
        </div>
        <div
          *ngIf="
            formulario.get('nome')?.hasError('maxlength') &&
            formulario.get('nome')?.touched
          "
        >
          O campo nome deve conter no máximo 60 caracteres!
        </div>
        <div
          *ngIf="
            formulario.get('nome')?.hasError('pattern') &&
            formulario.get('nome')?.touched
          "
        >
          O campo nome não deve ser apenas espaços em branco!
        </div>
      </div>
      <div class="campo campo-codigoMunicipio">
        <div
          *ngIf="
            formulario.get('codigoMunicipio')?.hasError('required') &&
            formulario.get('codigoMunicipio')?.touched
          "
        >
          O campo Município é obrigatório!
        </div>
      </div>
      <div class="campo campo-status">
        <div
          *ngIf="
            formulario.get('status')?.hasError('required') &&
            formulario.get('status')?.touched
          "
        >
          O campo status é obrigatório!
        </div>
      </div>
    </div>

    <div class="acoes">
      <button
        [disabled]="!formulario.valid"
        (click)="criarBairro()"
        [ngClass]="habilitarBotao()"
      >
        Salvar
      </button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
