.modal {
  border: 1px solid #a57dff;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  width: 100%;
  max-width: 500px;
  max-height: 420px;
  z-index: 9999;
  padding: 10px;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.p {
  color: #d40d0d;
  font-weight: bold;
  margin:4rem;
  align-items: center;
}

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}

.botao {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

.botao-ok {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 548px) {
  .modal {
    width: 90%;
    min-width: 90%;
    padding: 50px 12px 24px;
    font-size: 1.2rem;
  }
}
